
html[data-theme="light"] {
    /* Main accent colour */
    --pst-color-primary: #3b5da0;
    --pst-color-secondary: #1b4b69;

    /* Links */
    --pst-color-link: #1b4b69;
    --pst-color-link-hover: #3b5da0;
    --pst-color-table-row-hover-bg: #dee5f5;

    /* Text */
    --pst-color-text-base: #222222;
    --pst-color-heading: #111111;
    --pst-color-inline-code: #064b48;

    /* Backgrounds */
    --pst-color-background: #ffffff;
    --pst-color-on-background: #ffffff;
    --pst-color-target: #d8edfd;
}

html[data-theme="dark"] {
    /* Main accent colour */
    --pst-color-primary: #3b5da0;
    --pst-color-secondary: #1b4b69;

    /* Links */
    --pst-color-link: #3b5da0;
    --pst-color-link-hover: #7b99d5;
    --pst-color-table-row-hover-bg: #42454d;

    /* Text */
    --pst-color-text-base: #e7e4e4;
    --pst-color-heading: #cfc8c8;
    --pst-color-inline-code: #d8edfd;

    /* Backgrounds */
    --pst-color-background: #1d1818;
    --pst-color-on-background: #2c3334;
    --pst-color-target: #d8edfd;
    --pst-color-target: #064b48;
}